.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
.env
.DS_Store
Thumbs.db
.idea/
.vscode/

# Storage (jangan commit file cache)
storage/cache/*
!storage/cache/.gitignore

public/captcha/*

# Abaikan semua dalam application/language
application/language/*

# Tapi jangan abaikan folder english dan indonesian
!application/language/english/
!application/language/indonesian/

# Jangan abaikan file di dalam kedua folder itu
!application/language/english/*
!application/language/indonesian/*

resources/views/auth/*

docker-compose.yml
Dockerfile
